{% extends "main/base.html" %}
{% load static %}
    {% block body_block%}
    <!-- Here would show the slides and it's title -->

<div class="container">
	<H1 class="text-center pb-2 text-info">
	Cardiovascular: Microbiology Sets
</H1>
	<a class="btn btn-secondary" href="/CVS">Previous Page</a>
	<a class="btn btn-info" href="/CVS/Microbiology/upload">Add a New Set</a>
	<p></p>
  <div class="row border border-info">
    <div class="col"> Title:</div>
    <div class="col" href=""> ID:</div>
    <div class="col" href=""> Created By:</div>
    <div class="col-4"href=""> Number of Slides:</div>

	</div>
  </div>






	 	{% for set in shelf %}
	<div>
		<div class="container">
	  <div class="row border border-info">
		<div class="col"><p></p><a href="#" class="text-decoration-none"> {{ set.name }} </a></div>
		<div class="col" href=""><p></p><a href="#" class="text-decoration-none"> {{ set.id }} </a></div>
		<div class="col" href=""><p></p><a href="#" class="text-decoration-none"> {{ set.author }}  </a></div>
		<div class="col"href=""><p></p><a href="#" class="text-decoration-none"> Number of Slides</a> </div>
	<p>
			<a href="{{set.id}}" class="btn btn-warning" id = '{{set.id}}' >Study Set</a>
		</p>
		</div>
	</div>
		{% endfor %}

    {% endblock %}
