{% extends 'imark/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/interactive-image.min.css' %}" rel="stylesheet">

    <style>


        * {
            box-sizing: border-box;
        }

        .img-magnifier-container {
            position: relative;
        }


    </style>
{% endblock %}
{% block content %}
    <div>
        <h2>{{ img.set_imgs.first.title }}</h2>
        <div class="img-magnifier-container">
            {#            <div id="img" class="interactive-image"></div>#}
            <img id="img" src="{{ img.image.url }}">
        </div>
    <button onclick="zoomout()">-</button>Zoom<button onclick="zoomin()">+</button>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/interactive-image.min.js' %}"></script>
    <script>
        var notes = {{ notes | safe }}
            {#    console.log(notes)#}
            $('.img-magnifier-container').interactiveImage(notes, {debug: true})
    </script>
    <script>
    function zoomin() {
            let zoomPercentage = 0.1
            var GFG = document.getElementById("img");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth + currWidth*zoomPercentage) + "px";
            let hotSpots = document.querySelectorAll('.hotspot')
            let itemSpot = document.querySelectorAll('.item')

            hotSpots.forEach(item => {
                let itemStyleLeft = parseFloat(item.style.left.substring(0, item.style.left.length-2 ))
                let itemStyleTop = parseFloat(item.style.top.substring(0, item.style.left.length-2 ))
                item.style.left = `${itemStyleLeft+itemStyleLeft*zoomPercentage}px`
                item.style.top = `${itemStyleTop+itemStyleTop*zoomPercentage}px`
                console.log(item.style.left, itemStyleLeft, itemStyleTop)
            })
            itemSpot.forEach(item => {
                let itemStyleLeft = parseFloat(item.style.left.substring(0, item.style.left.length-2 ))
                let itemStyleTop = parseFloat(item.style.top.substring(0, item.style.left.length-2 ))
                item.style.left = `${itemStyleLeft+itemStyleLeft*zoomPercentage}px`
                item.style.top = `${itemStyleTop+itemStyleTop*zoomPercentage}px`
                console.log(item.style.left, itemStyleLeft, itemStyleTop)
            })

        }
// Zoom function
        function zoomout() {
            let zoomPercentage = 0.1
            var GFG = document.getElementById("img");
            var currWidth = GFG.clientWidth;
            GFG.style.width = (currWidth - currWidth*zoomPercentage) + "px";
            let hotSpots = document.querySelectorAll('.hotspot')
            let itemSpot = document.querySelectorAll('.item')
            // moves the notes point as page is zoomed

            hotSpots.forEach(item => {
                let itemStyleLeft = parseFloat(item.style.left.substring(0, item.style.left.length-2 ))
                let itemStyleTop = parseFloat(item.style.top.substring(0, item.style.left.length-2 ))
                item.style.left = `${itemStyleLeft-itemStyleLeft*zoomPercentage}px`
                item.style.top = `${itemStyleTop-itemStyleTop*zoomPercentage}px`
                console.log(item.style.left, itemStyleLeft, itemStyleTop)
            })
            itemSpot.forEach(item => {
                let itemStyleLeft = parseFloat(item.style.left.substring(0, item.style.left.length-2 ))
                let itemStyleTop = parseFloat(item.style.top.substring(0, item.style.left.length-2 ))
                item.style.left = `${itemStyleLeft-itemStyleLeft*zoomPercentage}px`
                item.style.top = `${itemStyleTop-itemStyleTop*zoomPercentage}px`
                console.log(item.style.left, itemStyleLeft, itemStyleTop)
            })
        }
    </script>

{% endblock %}