{% extends 'imark/base.html' %}

{% block content %}
<div>
<form method="post" enctype="multipart/form-data">
    <img id="ii" src="">
    {% csrf_token %}
    {{ img_form.as_p }}
    {{ note_form.as_p }}
    <button>submit</button>
</form>
</div>
{% endblock %}
{% block js %}
<script>
function readImg(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#ii').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }

}
$('#id_image').change(function () {
        readImg(this)
    })

$(document).ready(function () {
           $("#ii").on("click", function (event) {
                var x = event.pageX - this.offsetLeft;
                var y = event.pageY - this.offsetTop;
                var xDom = document.getElementById('id_x_dim')
                var yDom = document.getElementById('id_y_dim')
                xDom.value = x
                yDom.value = y
               var note = [
                   {
                       type: 'text',
                       title: document.getElementById('id_title').value,
                       description: document.getElementById('id_note').value,
                       position: {
                               left: x,
                               top: y
                           }

                   }
               ]
               //$('.interactive-image').interactiveImage(note, {debug: true})
                alert("X Coordinate: " + x + " Y Coordinate: " + y + " selected.");
                console.log(note)
            });

        });
</script>
{% endblock %}